:root {
	--theme-primary: #4caf50;
	--theme-secondary: #4c79af;
	--theme-highlight: #af4cab;
	--theme-info: #af814c;

	--font-color: #333;
	--font-size: 18px;

	--cell-color: var(--theme-secondary);
	--cell-font-color: white;
	--cell-height: 100px;
	--cell-margin: 2px;
	--cell-height-quart: calc(var(--cell-height) / 4);
	--cell-shape: polygon(
		50% 0%,
		100% 25%,
		100% 75%,
		50% 100%,
		0% 75%,
		0% 25%
	);
	--cell-width: calc(var(--cell-height) * 0.8660254);
	--cell-width-half: calc(var(--cell-width) / 2);
}

body {
	margin: 0;
	font-family: sans-serif;
	color: var(--font-color);
	font-size: var(--font-size);
}

tonnetz-cell {
	display: inline-block;

    width: var(--cell-width);
    height: var(--cell-height);

    background: var(--cell-color);
	color: var(--cell-font-color);
	font-size: var(--cell-height-quart);

	line-height: var(--cell-height);
	text-align: center;
	user-select: none;

	clip-path: var(--cell-shape);
}

tonnetz-cell:hover {
	filter: brightness(1.2);
	cursor: pointer;
}

tonnetz-cell[data-interval='0'] {
	--cell-color: var(--theme-primary);
}

tonnetz-cell[data-interval='3'],
tonnetz-cell[data-interval='4'] {
	--cell-color: var(--theme-secondary);
}

tonnetz-cell[data-interval='7'] {
	--cell-color: var(--theme-secondary);
}

tonnetz-cell[data-interval='1'],
tonnetz-cell[data-interval='6'],
tonnetz-cell[data-interval='11'] {
	--cell-color: var(--theme-secondary);
}

tonnetz-cell-row {
	display: block;
	width: max-content;
	height: var(--cell-height);
}
tonnetz-cell-row:nth-child(even) {
    padding-left: calc(var(--cell-width-half) + var(--cell-margin) / 2);
}
tonnetz-cell-row tonnetz-cell {
	margin-left: var(--cell-margin);
}

tonnetz-cell-row + tonnetz-cell-row {
	margin-top: calc((var(--cell-height-quart) - var(--cell-margin)) * -1);
}

form {
	margin-bottom: 1em;
	padding: 1em;
}

label {
	display: flex;
	align-items: center;
}

label input {
	margin: 0 2em;
}
